.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btnLogin {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  margin-top: 0.5rem;
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 1rem #eee;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.btnLogin:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
}

@media only screen and (max-width: 576px) {
  .form {
    width: auto;
  }
}
