.logoContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logoContainer p {
  font-size: 2rem !important;
  margin-bottom: 0 !important;
  color: #fff;
  text-decoration: none;
}

.logo {
  height: 6rem;
}
