.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

.mobile {
  display: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBurger {
  display: none;
}

.headerMenu {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.headerMenu li {
  list-style: none;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
}

.headerMenu li a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .headerBurger {
    display: block;
  }

  .mobile {
    display: flex;
  }

  .nav {
    display: none;
  }
}
